<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设置</title>
    <link rel="stylesheet" href="../css/settings-program.css">
    <link rel="stylesheet" href="../css/base.css">
</head>
<body>
    <div id="title-bar">
        <div class="window-title">剪贴板</div>
        <div class="window-controls">
          <div class="control-button close-button">
            <div class="program-btn" id="close-button-img"></div>
          </div>
        </div>
      </div>
    <div class="settings-container">
        <!-- 设置内容将在这里添加 -->
    </div>
</body>
<script src="../js/electron.js"></script>
<script src="../js/settings-theme.js"></script>
<script src="../js/settings.js"></script>
</html>