<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设置</title>
    <link rel="stylesheet" href="../css/settings-program.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/settings.css">
</head>

<body>
    <div id="title-bar">
        <div class="window-title">设置</div>
        <div class="window-controls">
            <div class="control-button close-button">
                <div class="program-btn" id="close-button-img"></div>
            </div>
        </div>
    </div>
    <div class="settings-menu">
        <ul>
            <li class="general">
                通用
            </li>
            <li class="storage">
                存储
            </li>
            <li class="shortcut-key">
                快捷键
            </li>
            <li class="as-for">
                关于
            </li>
        </ul>
    </div>
    <div class="settings-container">
        <div class="general-container">
            <div>111</div>
        </div>
        <div class="storage-container">
            <div>222</div>
        </div>
        <div class="shortcut-key-container">
            <div>333</div>
        </div>
        <div class="as-for-container">
            <div>444</div>
        </div>
    </div>
</body>
<script src="../js/electron.js"></script>
<script src="../js/settings-theme.js"></script>
<script src="../js/settings.js"></script>

</html>