/* 白色主题配置 */

/* 主题色配置 */
:root {
  --bg-primary: #ffffff;
  --bg-secondary: #fdfdfd;
  --text-primary: #151515;
  --text-secondary: #303030;
  --focus-bg_primary: #f8f8f8;
  --border-color: #e0e0e0;
  --accent-color: #000000;
  --search-input-focus-border-color: #7e7e7e;
  --hover-bg-color: #f5f5f5;
  --item-hover-bg: #f5f5f5;
  --item-selected-bg: #f4f4f4;
  --content-text: #5e5e5e;
  --search-bg-color: #e1e1e1;
  --tag-bg-color: #ffffff;
  --tag-text-color: #333333;
  --tag-border-color: #e0e0e0;
  --tag-hover-bg-color: #f5f5f5;
  --tag-hover-border-color: #666666;
  --tag-active-bg-color: #f0f0f0;
  --tag-active-border-color: #666666;
  --tag-active-text-color: #333333;
  --add-tag-bg-color: #ffffff;
  --add-tag-text-color: #666666;
  --add-tag-border-color: #e0e0e0;
  --menu-bg-color: #ffffff;
  --menu-text-color: #4a4a4a;
  --menu-hover-text-color: #000;
  --submenu-bg-color: #ffffff;
  --submenu-text-color: #4a4a4a;
  --submenu-hover-bg-color: #e8e8e8;
  --submenu-hover-text-color: #000000;
  --submenu-border-color: #f0f0f0;
  --title-bg-color: #f3f3f3;
  --danger-hover-color: #fff;
  --bg-hover: #fff;
  --danger-color: #fff;
  --shadow-color: #c7c7c7;
  --expand-shadow-color: #cfcfcf;
  --scrollbar-color: rgba(120, 120, 120, 0.2);
  --scrollbar-hover-color: rgba(120, 120, 120, 0.5);
  --confirm-hover-bg-color: #949494;
  --clipboard-tag-border-color: #666666;
}

.tags-img {
  background-image: url('./right_arrow.svg');
}

.custom-tag-delete {
  background-image: url('./trash.svg');
}

.set-tag-item::before {
  background-image: url('./drag.svg');
}

.more-button {
  background-image: url('./more.svg');
}

.top-button {
  background-image: url('./top.svg');
}

.top-button.topped {
  background-image: url('./untop.svg');
}

#close-button-img {
  background-image: url('./close.svg');
}

#unfixation-button-img {
  background-image: url('./unfixation.svg');
}

#fixation-button-img {
  background-image: url('./fixation.svg');
}

.themes-hook {
  background-image: url("./hook.svg");
}