/* 白色主题配置 */

/* 主题色配置 */
:root {
  --bg-primary: #f5f5f5;
  --bg-secondary: #f8f8f8;
  --text-primary: #000000;
  --text-secondary: #333333;
  --focus-bg_primary: #e5e5e5;
  --border-color: #d9d9d9;
  --accent-color: #a6a6a6;
  --search-input-focus-border-color: #d9d9d9;
  --hover-bg-color: #eeeeee;
  --item-hover-bg: #e5e5e5;
  --item-selected-bg: #e5e5e5;
  --content-text: #000000;
  --search-bg-color: #e5e5e5;
  --tag-bg-color: #f5f5f5;
  --tag-text-color: #000000;
  --tag-border-color: #d9d9d9;
  --tag-hover-bg-color: #eeeeee;
  --tag-hover-border-color: #a6a6a6;
  --tag-active-bg-color: #e5e5e5;
  --tag-active-border-color: #a6a6a6;
  --tag-active-text-color: #000000;
  --add-tag-bg-color: #f5f5f5;
  --add-tag-text-color: #333333;
  --add-tag-border-color: #d9d9d9;
  --menu-bg-color: #f5f5f5;
  --menu-text-color: #000000;
  --menu-hover-text-color: #000000;
  --submenu-bg-color: #f5f5f5;
  --submenu-text-color: #000000;
  --submenu-hover-bg-color: #e0e0e0;
  --submenu-hover-text-color: #000000;
  --submenu-border-color: #e5e5e5;
  --title-bg-color: #eeeeee;
  --danger-hover-color: #fecaca;
  --bg-hover: #f5f5f5;
  --danger-color: #fee2e2;
  --shadow-color: rgba(166, 166, 166, 0.1);
  --expand-shadow-color: rgba(166, 166, 166, 0.15);
  --scrollbar-color: rgba(166, 166, 166, 0.2);
  --scrollbar-hover-color: rgba(166, 166, 166, 0.4);
  --confirm-hover-bg-color: #d9d9d9;
  --clipboard-tag-border-color: #a6a6a6;
  --active-border-color: #cdcdcd;
  --checkbox-bg-color: #ccc;
  --checkbox-color: #fff;
  --checkbox-shadow-bg-color: #999;
  --checkbox-check-color: rgb(88, 88, 88);
}

.tags-img {
  background-image: url('./images/right_arrow.svg');
}

.custom-tag-delete {
  background-image: url('./images/trash.svg');
}

.set-tag-item::before {
  background-image: url('./images/drag.svg');
}

.more-button {
  background-image: url('./images/more.svg');
}

.top-button {
  background-image: url('./images/top.svg');
}

.top-button.topped {
  background-image: url('./images/untop.svg');
}

#close-button-img {
  background-image: url('./images/close.svg');
}

#unfixation-button-img {
  background-image: url('./images/unfixation.svg');
}

#fixation-button-img {
  background-image: url('./images/fixation.svg');
}

.themes-hook {
  background-image: url("./images/hook.svg");
}

.leave-for {
  background-image: url('./images/right_arrow.svg');
}

/* .arrow-icon {
  background-image: url('./images/right_arrow.svg');
} */