<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设置</title>
    <link rel="stylesheet" href="css/settings-program.css">
    <link rel="stylesheet" href="css/settings.css">
    <link rel="stylesheet" href="css/restart-dialog.css">
    <link rel="stylesheet" href="css/hotkey-dialog.css">
    <link rel="stylesheet" href="../message/css/message.css">
</head>

<body>
    <div id="title-bar">
        <div class="window-title">设置</div>
        <div class="window-controls">
            <div class="control-button close-button">
                <div class="program-btn" id="close-button-img"></div>
            </div>
        </div>
    </div>
    <div class="settings-menu">
        <ul>
            <li class="general">
                通用
            </li>
            <li class="storage">
                存储
            </li>
            <li class="shortcut-key">
                快捷键
            </li>
            <li class="as-for">
                关于
            </li>
        </ul>
    </div>
    <div class="settings-container">
        <div class="general-container">
            <div class="line">
                <div class="little">开机自启</div>
                <div class="operate"><input type="checkbox" class="switch" id="power-on-self-start"></div>
            </div>
            <div class="line">
                <div class="little">替换全局热键（Windows适用）</div>
                <div class="operate"><input type="checkbox" class="switch" id="replace-global-hotkey"></div>
            </div>
            <div class="line">
                <div class="little">关闭窗口时隐藏到任务栏托盘</div>
                <div class="operate"><input type="checkbox" class="switch" id="closing-hide-to-taskbar"></div>
            </div>
            <div class="line">
                <div class="little">窗口大小固定</div>
                <div class="operate"><input type="checkbox" class="switch" id="fixed-window-size"></div>
            </div>
            <div class="line">
                <div class="little"></div>
                <div class="operate window-size">
                    <label>高:</label>
                    <input type="input" id="window-height" oninput = "value=value.replace(/[^\d]/g,'')">
                    <label>宽:</label>
                    <input type="input" id="window-width" oninput = "value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="line">
                <div class="little">语言</div>
                <div class="operate">
                    <div class="select-wrapper">
                        <select for="languages" id="languages">
                            <option value="chinese">中文</option>
                            <option value="english">英文</option>
                        </select>
                        <div class="arrow-container">
                            <div class="arrow-icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="split-line"></div>
            <div class="line">
                <div class="little">调试工具</div>
                <div class="operate">
                    <botton class="leave-for" id="debugging-tool" />
                </div>
            </div>
            <div class="fixed-btn">
                <botton class="btn reset-btn" id="general-reset">重置</botton>
                <botton class="btn save-btn" id="general-save">保存</botton>
            </div>
        </div>
        <div class="storage-container">
            <div class="line">
                <div class="little">数据存储位置</div>
            </div>
            <div class="line">
                    <input type="input" class="file-path-input" id="data-storage" disabled>
            </div>
            <div class="line">
                <div class="little">临时文件存储位置</div>
            </div>
            <div class="line">
                    <input type="input" class="file-path-input" id="temp-storage" disabled>
            </div>
            <div class="line">
                <div class="warning-line">此处数据存储路径只做查看用，请勿修改文件存储位置或直接修改文件，不当操作将导致数据无法查看、程序崩溃等问题</div>
            </div>
        </div>
        <div class="shortcut-key-container">
        </div>
        <div class="as-for-container">
            <div>444</div>
        </div>
    </div>
    <div class="restart-dialog-overlay">
        <div class="restart-dialog">
            <h2>确认重启程序</h2>
            <p>此修改需要重启程序才能生效，需要立即重启吗？</p>
            <div class="restart-dialog-buttons">
                <button class="restart-dialog-button restart-dialog-cancel">取消</button>
                <button class="restart-dialog-button restart-dialog-confirm">确定</button>
            </div>
        </div>
    </div>
    <div class="hotkey-dialog-overlay">
        <div class="hotkey-dialog">
            <h2>编辑快捷键</h2>
            <div class="hotkey-preview">请按下新的快捷键组合</div>
            <div class="hotkey-dialog-buttons">
                <button class="hotkey-dialog-button hotkey-dialog-cancel">取消</button>
                <button class="hotkey-dialog-button hotkey-dialog-confirm">确认</button>
            </div>
        </div>
    </div>
</body>
<script src="../../js/electron.js"></script>
<script src="../../utils/strUtil.js"></script>
<script src="../message/js/message.js"></script>
<script src="js/settings-theme.js"></script>
<script src="js/settings.js"></script>

</html>